table {
  text-align: left;
  line-height: 20px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #34495e;
  width: 60%;
  margin: 20px auto;
  border-radius: 5px;
}
table,
tr,
td,
th {
  border: 1px solid;
  font-size: 20px;
}
td {
  border-color: white;
}
td,
th {
  padding: 10px;
  text-align: center;
}
thead th {
  text-align: center;
  border-color: #fff;
}
thead tr th {
  font-size: 30px;
  color: #fff;
  background-color: black;
}
.basic {
  background: rgb(245, 255, 231);
}
.plus {
  background: rgb(238, 237, 237);
}
.delux {
  background: rgb(220, 245, 233);
}
.pro {
  background: rgb(227, 247, 227);
}
tbody tr:nth-child(odd) {
  background: rgb(222, 248, 247);
}
.fa-check {
  color: green;
  font-size: 25px;
}
.fa-times {
  color: red;
  font-size: 25px;
}
button {
  padding: 15px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: linear-gradient(to right, purple, pink);
  color: #fff;
}
.price td {
  color: green;
  font-size: 25px;
}
